# Site Settings
theme: null
remote_theme: null
locale: "en-GB"
title: "黒潮"
title_separator: "-"
name: "operator"
description: "Tech, photos, and ramblings"
url: "https://kuroshi.net"
baseurl: ""
repository: "martin-irwin/martin-irwin"

# Analytics
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-1MQZ618G17"
    anonymize_ip: true

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .sass-cache
  - .jekyll-cache
  - .github

# Conversion
markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  smart_quotes: lsquo,rsquo,ldquo,rdquo

# Sass
sass:
  sass_dir: _sass
  style: compressed

# Plugins (Matched exactly to your Gemfile)
plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-include-cache

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: pure
  - scope:
      path: ""
      type: pages
    values:
      layout: pure
