# Site Settings
locale                   : "en-GB"
title                    : "Martin Irwin Photography"
title_separator          : "-"
name                     : "Martin Irwin"
description              : "Tech, photos, and ramblings"
url                      : "https://martinirwinphotography.com"
baseurl                  : ""
repository               : "martin-irwin/martin-irwin"

# Analytics
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-1MQZ618G17"
    anonymize_ip: true

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .sass-cache
  - .jekyll-cache

# Conversion
markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  smart_quotes: lsquo,rsquo,ldquo,rdquo

# Sass
sass:
  sass_dir: _sass
  style: compressed

# Plugins (jekyll-paginate removed)
plugins:
  - jekyll-sitemap
  - jekyll-feed

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: pure
  - scope:
      path: ""
      type: pages
    values:
      layout: pure