---
layout: default
title: Search
---

<h1>Search</h1>
<input type="text" id="search" placeholder="Type to search..." onkeyup="lunrSearch()">
<ul id="results"></ul>

<script>
  // Lunr.js search function
  function lunrSearch() {
    var query = document.getElementById('search').value;
    var results = idx.search(query);
    var resultsDiv = document.getElementById('results');

    resultsDiv.innerHTML = ''; // Clear previous results

    results.forEach(function(result) {
      var ref = result.ref;
      var post = store[ref];
      resultsDiv.innerHTML += '<li><a href="' + post.url + '">' + post.title + '</a></li>';
    });
  }

  // Lunr index setup (run once the JSON is loaded)
  var idx;
  var store = {};
  fetch('/assets/js/lunr-index.json') // Update path if necessary
    .then(response => response.json())
    .then(data => {
      idx = lunr(function() {
        this.ref('id');
        this.field('title', { boost: 10 });
        this.field('content');
        
        data.forEach(function(doc) {
          this.add(doc);
          store[doc.id] = {
            title: doc.title,
            url: doc.url
          };
        }, this);
      });
    });
</script>